body {
    background-color: #eee;
}

.bookContainer {
    outline: 1px solid #aaa;
    width: 380px;
    height: 140px;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.bookEditContainer {
    outline: 1px solid #38538c;
    width: 380px;
    height: 200px;
    background-color: #ffe45c;
    float: left;
    margin: 5px;
    box-shadow: 7px 7px 11px 0px rgba(50, 50, 50, 0.75);
}

.bookContainer img, .bookEditContainer img {
    float: left;
    margin: 10px;
}

.bookContainer ul, .bookEditContainer ul {
    list-style-type: none;
    margin-bottom: 0;
}

.bookContainer button, .bookEditContainer button {
    float: right;
    margin: 10px;
}



.bookForm label {
    width: 100px;
    margin-right: 10px;
    text-align: right;
    line-height: 25px;
}

.bookForm label, .bookForm input {
    display: block;
    margin-bottom: 10px;
    float: left;
}

.bookForm label[for="title"], .bookForm label[for="releaseDate"] {
    clear: both;
}

.bookForm button {
    display: block;
    margin: 5px 20px 10px 10px;
    float: right;
    clear: both;
}

.bookForm div {
    width: 550px;
    border: solid 1px;
}

.bookForm div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}

#books ul
{
    list-style: none;
    display: inline;
}